{% extends 'base.html' %}
{% load static %}
{% block title %}{{ illustration.title }}{% endblock %}
{% load bootstrap4 %}
{% block css %}
    <style>
        .col-6 button{
            height: 80px;
        }
        .text-container {
            font-size: 16px;
        }
        .buttons{
            padding-bottom: 5px;
        }
        .container{
            padding-top: 50px;
        }
    </style>
{% endblock %}
{% block main %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="{{ MEDIA_URL }}{{ illustration.image.url }}" alt="" style="width: 100%;">
            </div>
            <div class="col-5 text-container">
                <div class="buttons">
                    <button id="increase-font" class="btn btn-outline-light white-icon">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button id="decrease-font" class="btn btn-outline-light white-icon">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button id="reset-font" class="btn btn-outline-light white-icon">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>
                <h3>Creation details</h3>
                <p class="mb-0">Model: </p>
                <p>{{ illustration.get_tag_display }}</p>
                <p class="mb-0">Title: </p>
                <p>{{ illustration.title }}</p>
                <p class="mb-0">Prompt: </p>
                <p>{{ illustration.prompt }}</p>
                <p class="mb-0">Seed: </p>
                <p>{{ illustration.seed }}</p>
                <p class="mb-0">Description: </p>
                <p>{{ illustration.description }}</p>
                <div class="d-flex">
                    <div class="col-6">
                        <button class="btn btn-outline-light w-100" onclick="AddCount('{{ illustration.id }}','illustration','human')">
                            <span>HUMAN</span>
                            <br>
                            <span>{{ illustration.illustrationcommentmodel.human }}</span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-primary w-100" onclick="AddCount('{{ illustration.id }}','illustration','ai')">
                            <span>AI</span>
                            <br>
                            <span>{{ illustration.illustrationcommentmodel.ai }}</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        function AddCount(obj_id,obj_type,btn_type){
            if (localStorage.getItem(obj_id+obj_type+btn_type) == null){
                $.ajax({
                    url: "{% url 'add_count' %}",
                    type: "POST",
                    data: {
                        obj_id: obj_id,
                        obj_type: obj_type,
                        btn_type: btn_type,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.code == 200){
                            localStorage.setItem(obj_id+obj_type+btn_type,1);
                            if (btn_type == "human"){
                                localStorage.setItem(obj_id+obj_type+"ai",1);
                            }else{
                                localStorage.setItem(obj_id+obj_type+"human",1);
                            }
                            alert("Thanks for your vote");
                            location.reload()
                        }
                    }
                })
            }else{
                alert("You have already clicked this button");
            }
        }

        const increaseFontBtn = document.getElementById("increase-font");
        const decreaseFontBtn = document.getElementById("decrease-font");
        const resetFontBtn = document.getElementById("reset-font");
        const textContainer = document.querySelector(".text-container");

        function adjustFontSize(factor) {
            const currentFontSize = parseFloat(getComputedStyle(textContainer).fontSize);
            textContainer.style.fontSize = currentFontSize + factor + "px";
        }

        increaseFontBtn.addEventListener("click", () => adjustFontSize(2));
        decreaseFontBtn.addEventListener("click", () => adjustFontSize(-2));
        resetFontBtn.addEventListener("click", () => textContainer.style.fontSize = "16px");

    </script> 
{% endblock %}