{% extends 'base.html' %}
{% load static %}
{% block title %}Upload Illustration{% endblock %}
{% load bootstrap4 %}
{% block css %}

{% endblock %}
{% block main %}
    {% include "navbar.html" %}
    <div class="d-flex justify-content-center flex-column">
        <div class="m-auto w-75">
            {% include "messages.html" %}
        </div>
        <div class="m-auto w-100 d-flex justify-content-center">
            <form action="{% url 'upload_illustration' %}" method="post" enctype="multipart/form-data" class="form w-50">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
        </div>

    </div>

{% endblock %}
{% block js %}
{% endblock %}